In [ ]:
#Therotical questions

Data Types and Structures

question1.What are data structures, and why are they important?

Data structures are organized formats for storing and managing data to enable efficient access and modification. Examples include lists, arrays, dictionaries, and trees. They are important because they optimize algorithms, improve performance, and solve specific computational problems effectively.

question2.Explain the difference between mutable and immutable data types with examples.

Mutable data types can be modified after creation. For example, lists in Python:
python


Immutable data types cannot be altered after creation. For example, strings:
python

question3What are the main differences between lists and tuples in Python?

Mutability: Lists are mutable, while tuples are immutable.
Performance: Tuples are faster than lists due to immutability.
Syntax: Lists use square brackets ([]), while tuples use parentheses (()).

question4 Describe how dictionaries store data.

Dictionaries store data in a key-value pair format using a hash table under the hood. Each key is hashed to a memory location, allowing fast data retrieval.

question5 Why might you use a set instead of a list in Python?
Sets are useful when

Unique values are required, as sets automatically eliminate duplicates.
Faster membership tests (in operator) are needed due to their hashing mechanism.

question6 What is a string in Python, and how is it different from a list?

A string is a sequence of characters, while a list can store elements of any data type. Strings are immutable, but lists are mutable.

question7 How do tuples ensure data integrity in Python?

Tuples are immutable, preventing accidental changes to their elements, making them ideal for data that should remain constant.

question8 What is a hash table, and how does it relate to dictionaries in Python?

A hash table is a data structure that maps keys to values using a hash function. Dictionaries in Python use hash tables to enable fast lookup, insertion, and deletion operations.

question9 Can lists contain different data types in Python?

Yes, lists in Python can store elements of mixed data types:
my_list = [1, "hello", 3.14, [1, 2, 3]]

question10 Explain why strings are immutable in Python.
Strings are immutable to

Ensure thread safety.
Allow efficient memory usage by reusing existing string objects (e.g., interning).
Simplify hash-based operations (e.g., storing strings in dictionaries or sets).

question11 What advantages do dictionaries offer over lists for certain tasks?
Dictionaries provide

Fast lookups using keys.
Key-value associations, allowing structured data storage.
Direct access to elements without searching through the entire structure.

question12 Describe a scenario where using a tuple would be preferable over a list?

Use a tuple when data should remain constant, such as geographic coordinates
coordinates = (40.7128, -74.0060)  # Latitude and longitude

question13How do sets handle duplicate values in Python?
Sets automatically remove duplicate values. For example
my_set = {1, 2, 2, 3}
print(my_set)  # Output: {1, 2, 3}

question14 How does the in keyword work differently for lists and dictionaries?

For lists, in checks for the presence of a value:
3 in [1, 2, 3]  # True

for dictionaries, in checks for the presence of a key
"key" in {"key": "value"}  # True

question15 Can you modify the elements of a tuple? Explain why or why not?

No, tuples are immutable, meaning their elements cannot be modified. This ensures consistency and prevents unintended changes.

question16 What is a nested dictionary, and give an example of its use case?

A nested dictionary is a dictionary containing another dictionary as a value. Example:
students = {
    "Alice": {"age": 25, "grade": "A"},
    "Bob": {"age": 22, "grade": "B"}
}

question17 Describe the time complexity of accessing elements in a dictionary?

Accessing elements in a dictionary has an average time complexity of O(1) due to hashing.

question18 In what situations are lists preferred over dictionaries?
Lists are preferred when:

Order matters (e.g., maintaining sequence).
The dataset doesn't need key-value pairs.
Simplicity and memory efficiency are priorities.

question19 Why are dictionaries considered unordered, and how does that affect data retrieval?

Dictionaries are unordered because their elements are stored based on hash values, not insertion order (in versions before Python 3.7). This affects retrieval in that you cannot rely on the order of elements.

question20 Explain the difference between a list and a dictionary in terms of data retrieval.

List: Retrieval requires knowing the index or searching through the list (O(n) for search).
Dictionary: Retrieval uses a key, offering constant time complexity (O(1)).

In [ ]:
#Practical Questions

In [4]:
#question1 Write a code to create a string with your name and print it?

Name="Rustam Arora"
print(Name)

Rustam Arora

In [5]:
#qestion2 Write a code to find the length of the string  "Hello World"?

len("Hello World")

11

In [6]:
#question3 Write a code to slice the first 3 characters from the string "Python Programming"?

my_string = "Python Programming"

# Slice the first 3 characters
first_three = my_string[:3]

# Print the result
print(first_three)

Pyt

In [7]:
#question4 Write a code to convert the string "hello" to uppercase?

text = "hello"
text.upper()

'HELLO'

In [8]:
#question5 Write a code to replace the word "apple" with "orange" in the string "I like apple?
text = "I like apple?"
text.replace("apple", "orange")

'I like orange?'

In [10]:
#question6 Write a code to create a list with numbers 1 to 5 and print it?

my_list = [1,2,3,4,5]
print(my_list)

[1, 2, 3, 4, 5]

In [11]:
#question7 Write a code to append the number 10 to the list [1, 2, 3, 4]?

my_list = [1, 2, 3, 4]
my_list.append(10)
print(my_list)

[1, 2, 3, 4, 10]

In [12]:
#question8 Write a code to remove the number 3 from the list [1, 2, 3, 4, 5]?

my_list = [1, 2, 3, 4, 5]
my_list.remove(3)
print(my_list)

[1, 2, 4, 5]

In [13]:
#question9 Write a code to access the second element in the list ['a', 'b', 'c', 'd']?

my_list = ['a', 'b', 'c', 'd']
second_element = my_list[1]
print(second_element)

b

In [14]:
#question10  Write a code to reverse the list [10, 20, 30, 40, 50]?

my_list = [10, 20, 30, 40, 50]
my_list.reverse()
print(my_list)

[50, 40, 30, 20, 10]

In [15]:
#question11 Write a code to create a tuple with the elements 10, 20, 30 and print it.

my_tuple = (10, 20, 30)
print(my_tuple)

(10, 20, 30)

In [16]:
#question12 Write a code to access the first element of the tuple ('apple', 'banana', 'cherry').

my_tuple = ('apple', 'banana', 'cherry')
first_element = my_tuple[0]
print(first_element)

apple

In [17]:
#question13  Write a code to count how many times the number 2 appears in the tuple (1, 2, 3, 2, 4, 2).

my_tuple = (1,2,3,2,4,2)
my_tuple.count(2)

3

In [19]:
#question14  Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit')

my_tuple = ('dog', 'cat', 'rabbit')
my_tuple.index( 'cat')

1

In [20]:
#question15  Write a code to check if the element "banana" is in the tuple ('apple', 'orange', 'banana').

my_tuple = ('apple', 'orange', 'banana')
if 'banana' in my_tuple:
    print("The element 'banana' is in the tuple.")
else:
    print("The element 'banana' is not in the tuple.")

The element 'banana' is in the tuple.

In [21]:
#question16  Write a code to create a set with the elements 1, 2, 3, 4, 5 and print it.

my_set = {1,2,3,4,5}
print(my_set)

{1, 2, 3, 4, 5}

In [23]:
#question17  Write a code to add the element 6 to the set {1, 2, 3, 4}.

my_set = {1,2,3,4}
my_set.add(6)
print(my_set)

{1, 2, 3, 4, 6}

In [24]:
#question18  Write a code to create a tuple with the elements 10, 20, 30 and print it.

my_tuple = (10,20,30)
print(my_tuple)

(10, 20, 30)

In [25]:
#question19  Write a code to access the first element of the tuple ('apple', 'banana', 'cherry').

my_tuple = ('apple', 'banana', 'cherry')
first_element = my_tuple[0]
print(first_element)

apple

In [26]:
#question20  Write a code to count how many times the number 2 appears in the tuple (1, 2, 3, 2, 4, 2)

tuple=(1,2,3,2,4,2)
count=0
for i in tuple:
    if i==2:
        count+=1
print(count)

3

In [27]:
#question21 Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').

my_tuple = ('dog', 'cat', 'rabbit')
my_tuple.index('cat')

1

In [28]:
#question22 Write a code to check if the element "banana" is in the tuple ('apple', 'orange', 'banana').

my_tuple = ('apple', 'orange', 'banana')
if 'banana' in my_tuple:
    print("The element 'banana' is in the tuple.")

The element 'banana' is in the tuple.

In [29]:
#question 23 Write a code to create a set with the elements 1, 2, 3, 4, 5 and print it

my_set = {1,2,3,4,5}
print(my_set)

{1, 2, 3, 4, 5}

In [30]:
#question24 Write a code to add the element 6 to the set {1, 2, 3, 4}.

my_set = {1,2,3,4}
my_set.add(6)
print(my_set)

{1, 2, 3, 4, 6}